@keyframes gradientInput{
  0%{box-shadow: 4px 4px 10px #c54dff}
  50%{box-shadow: -4px -4px 10px #0f95f9;}
  100%{box-shadow: 4px 4px 10px #c54dff}
}
@keyframes gradientInputInside{
  0%{box-shadow: inset 4px 4px 10px #c54dff}
  50%{box-shadow: inset -4px -4px 10px #0f95f9;}
  100%{box-shadow: inset 4px 4px 10px #c54dff}
}
.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  word-wrap: break-word;
}
h1{
  margin: 0;
}
p{
  margin: 0;
}

.mobileFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid darkgray;
  align-items: center;
  .footerOption{
    height: 100%;
    border-left: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
      font-size: 10px;
    }
    .supportIcon{
      height: 30px;
    }
    &:hover{
      background-color: rgb(235, 235, 235);
    }
  }
}

.footerLogo{
  height: 40px;
}

.gap{
  height: 60px;
  width: 100vw;
  margin: 0;
}

.loginComponent{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img{
    position: fixed;
    top: 0;
    width: 80%;
    margin-top: 40px;
  }
  .loginContainer{
    margin-top: 20px;
    width: 80%;
    height: auto;
    input{
      text-align: center;
      width: 80%;
      margin: 10px;
      height: 20px;
      border: none;
      border-bottom: 1px solid #0f95f9;
      transition: 0.3s linear;
      border-right: 1px solid #0f95f9;
      border-left: 1px solid #0f95f9;
      &:focus{
        border-bottom: 1px solid #c54dff;
        border-right: 1px solid white;
        border-left: 1px solid white;
        outline: none;
      }
    }
    button{
      margin-top: 20px;
      border: none;
      background-color: #0f95f9;
      border: 1px solid white;
      width: 40%;
      height: 25px;
    }
  }
}

#togglePassword{
  margin-left: -33px;
  margin-right: 15px;
}

#natogglePassword{
  margin-left: -35px;
  margin-right: 14px;
}

.logoutConfirmation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  .logoutConfirmationContainer{
    border: 1px solid #0f95f9;
    padding: 10px;
    background-color: white;
    button{
      border: none;
      border-radius: none;
      border: 1px solid #c54dff;
      background-color: white;
      margin-top: 10px;
      color: black;
      width: 100px;
      height: 30px;
    }
    .logout{
      background-color: red;
      color: white;
    }
  }
}

.ticketsContainer{
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  .currentTickets{
    width: 90%;
    min-height: 50px;
  }
  .supportItem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    &:nth-child(even){
      background-color: rgb(230, 230, 230);
    }
    &:nth-child(1){
      background-color: #c54dff;
      font-weight: bold;
    }
  }
}

.addNewTicket{
  height: 40px;
  width: 38px;
  font-size: 38px;
  border-radius: 40px;
  padding-left: 2px;
  background-color: white;
  color: #0f95f9;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgba(0,0,0,0.2);
  position: absolute;
  top: -19px;
  z-index: 1;
  right: 5px;
}

.createTicketContainer{
  width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  z-index:2;
  display: flex;
  justify-content: center;
  .createTicketInfo{
    position: absolute;
    top: 20px;
    width: 90%;
    height: auto;
    background-color: white;
    padding: 5px;
  }
  .close{
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: rgb(234, 234, 234);
    padding: 10px;
    border-radius: 100%;
    width: 15px;
    border: 1px solid rgba(0,0,0,0.3);
    color: #0f95f9;
  }
}