@mixin mQ($arg...){
  @if length($arg) == 1 {
    @media screen and (max-width: nth($arg, 1)){
      @content;
    }
  }
  @if length($arg) == 2 {
    @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)) {
      @content;
    }
  }
}

@keyframes showItem {
  0% {max-height: 0vh}
  100% {max-height: 100vh}
} 

@keyframes hideItem {
  0% {max-height: 100vh}
  100% {max-height: 0vh}
} 

@keyframes gradientInput{
  0%{box-shadow: 4px 4px 10px #c54dff}
  50%{box-shadow: -4px -4px 10px #0f95f9;}
  100%{box-shadow: 4px 4px 10px #c54dff}
}
@keyframes gradientInputInside{
  0%{box-shadow: inset 4px 4px 10px #c54dff}
  50%{box-shadow: inset -4px -4px 10px #0f95f9;}
  100%{box-shadow: inset 4px 4px 10px #c54dff}
}
.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  word-wrap: break-word;
}
h1{
  margin: 0;
}
p{
  margin: 0;
}

.mobileFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-top: 1px solid darkgray;
  align-items: center;
  z-index: 2;
  .footerOption{
    height: 100%;
    border-left: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
      font-size: 10px;
    }
    .supportIcon{
      height: 30px;
    }
    &:hover{
      background-color: rgb(235, 235, 235);
    }
  }
}

.footerLogo{
  height: 40px;
}

.gap{
  height: 60px;
  width: 100vw;
  margin: 0;
}

.loginComponent{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img{
    position: fixed;
    top: 0;
    width: 80%;
    margin-top: 40px;
  }
  .loginContainer{
    margin-top: 20px;
    width: 80%;
    height: auto;
    input{
      text-align: center;
      width: 80%;
      margin: 10px;
      height: 20px;
      border: none;
      border-bottom: 1px solid #0f95f9;
      transition: 0.3s linear;
      border-right: 1px solid #0f95f9;
      border-left: 1px solid #0f95f9;
      &:focus{
        border-bottom: 1px solid #c54dff;
        border-right: 1px solid white;
        border-left: 1px solid white;
        outline: none;
      }
    }
    button{
      margin-top: 20px;
      border: none;
      background-color: #0f95f9;
      border: 1px solid white;
      width: 40%;
      height: 25px;
    }
  }
}

#togglePassword{
  margin-left: -33px;
  margin-right: 15px;
}

#natogglePassword{
  margin-left: -35px;
  margin-right: 14px;
}

.supportRequestContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .ticketsContainer{
    width: 90%;
    position: relative;
    .currentTickets{
      width: 100%;
      min-height: 50px;
      position: relative;
    }
    .supportItem{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 5px;
      &:nth-child(odd){
        background-color: rgb(230, 230, 230);
      }
      &:nth-child(1){
        background-color: #c54dff;
        font-weight: bold;
        border-bottom: 1px solid black;
        text-decoration: underline;
      }
    }
  }
}

.addNewTicketButton{
  position: fixed;
  bottom: 70px;
  right:10px;
  height: 40px;
  width: 38px;
  font-size: 38px;
  border-radius: 40px;
  padding-left: 2px;
  color: #0f95f9;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgba(0,0,0,0.2);
  z-index: 1;
  opacity: .9;
  cursor: pointer;
}

.logoutConfirmation{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  .logoutConfirmationContainer{
    border: 1px solid #0f95f9;
    padding: 10px;
    background-color: white;
    button{
      border: none;
      border-radius: none;
      border: 1px solid #c54dff;
      background-color: white;
      margin-top: 10px;
      color: black;
      width: 100px;
      height: 30px;
      cursor: pointer;
    }
    .logout{
      background-color: red;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }
}



.devicesMain{
  width: 90vw;
  margin: auto;
}

.devicePlus{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 150px;
  padding-top: 20px;
  grid-gap: 20px;
  .devicePlusItem{
    font-size: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #bab9b9;
    cursor: pointer;
  }
}

.deviceFullContainer{
  background-color: white;
  width: 90vw;
  margin-top: 15px;
  margin-bottom: 70px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #bab9b9;
  position: relative;
  .deviceFullHeader{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    input{
      border: none;
      text-align: center;
      height: 25px;
      border-bottom: 1px solid black;
      font-size: 20px;
      margin-bottom: 10px;
    }
    #deviceFullFilter{
      position: absolute;
      top: 15px;
      right: 20px;
    }
  }
}

.deviceFullSearchSettings{
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  div{
    display: flex;
    cursor: pointer;
  }
}

.displayFullDeviceList{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 50fr 50fr;
  font-size: 20px;
  &:nth-child(odd){
    background-color: #ebeaea;
  }
  .deviceName{
    justify-self: start;
    margin-left: 25px;
    padding: 10px 0;
  }
  .deviceHeart{
    justify-self: end;
    margin-right: 25px;
    padding: 10px 0;
  }
}

.formContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  .formBox{
    min-width: 50vw;
    margin-top: -60px;
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    .formItem{
      input{
        width: calc(50% - 14px)
      }
    }
    input{
      text-align: center;
      border: none;
      border-bottom: 1px solid black;
      margin: 5px;
    }
  }
  .submitVenue{
    background-color: #00ccff;
    border: none;
    width: 50%;
    margin: auto;
    border: 1px solid lightgray;
  }
}

.venueFullSearchSettings{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  div{
    display: flex;
    cursor: pointer;
  }
}

.venueFullVenueList{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 15px 1fr 1fr 1fr 1fr;
  font-size: 20px;
  align-items: center;
  &:nth-child(odd){
    background-color: #ebeaea;
  }
  .deviceName{
    justify-self: start;
    margin-left: 10px;
    padding: 10px 0;
  }
}

.assignDeviceToVenue{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .assignDevice{
    background-color: white;
    width: 50vw;
    margin: auto;
    padding: 25px;
    button{
      width: 50%;
      border: 1px solid black;
      margin-top: 15px;
      font-size: 20px;
      border-radius: 5px;
    }
    .submit{
      background-color: limegreen;
    }
    .cancel{
      background-color: rgb(220, 0, 0);
    }
  }
}

.displayVenueContainer{
  width: 90vw;
  margin: auto;
  margin-top: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 10px #bab9b9;
  height: 100%;
  .displayVenueItemContainer{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
    justify-content: space-around;
    margin: auto;
    overflow: hidden;
    margin-bottom: 15px;
  }
  h3{
    margin: 0;
    border-bottom: 1px solid rgb(176, 176, 176);
    margin-bottom: 15px;
  }
}

.showGeneral{
  animation: showItem 1s linear forwards;
}

.hideGeneral{
  animation: hideItem 1s linear forwards;
}

.notesContainer{
  width: 90vw;
  margin: auto;
  padding-bottom: 10px;
  margin-top: 15px;
  padding-top: 10px;
  border-radius: 5px;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 10px #bab9b9;
  height: 100%;
  button{
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid lightgray;
    background-color: rgb(237, 237, 237);
    box-shadow: 0px 0px 3px #bab9b9;
    cursor: pointer;
  }
}